:root{
    --branco-principal:#FFFFFF;
    --cinza-secundario:#C0C0C0;
    --botao-azul:#167BF7;
    --cor-de-fundo:#00030C;
    --fonte-principal:'Inter';
    --botao-azul-efeito: #3c92fa;
}
body{
    background-color: var(--cor-de-fundo);
    color:var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
/* "*" pega todos os elementos HTML e aplica a configuração especificada*/
*{
    margin: 0;
    padding: 0;
}
.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;/*Par não ficar repetindo*/
    background-size: contain;/*Ajustar o espaçamento da esquerda, ele pega todo o contain que no caso é a nossa section */
    align-items: center; /*estou centralizando todos os meus itens*/
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botao{
    background-color:var(--botao-azul);/*cor azul do botão*/
    border-radius: 5px;/*aredondadndo o botão*/
    padding: 1em;/*espaçamento*/
    color:var(--branco-principal);
    display: block;
    text-decoration: none;/*Remove o sublinhado*/
    margin-bottom: 1em;
}
.botao_secundario{
    background-color: transparent;
    border:2px solid var(--branco-principal)/* tamanho, tipo de borda(linhas) e cor*/
}
.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}
.coniner__titulo{
    font-size: 28px;
    font-weight: 700;
}
.coontainer__imagem{
    margin: 1em 0 2em 0;
}
.container__caixa{
    margin: 0 6em;
}

.secundario__imagem{
    width: 80%;    
}
.secundario{
    align-items: center;
    margin: 0 10em;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
.descricao__texto{
    color: var(--cinza-secundario);
}
.secundario__botao{
   display: inline-block; /*Faz com que a linha apsorva somente o necessário de espaço ao redor do elemento*/
   margin-top: 1em;
}
.conainer__descricao{
    padding: 2em;
}
.dispositivos__lista{
    display: flex;/*Ficar um do lado do outro na minha lista*/
    justify-content: center;/*Deixa todos os itens da minha luista alinhados no centro*/
    list-style-type: none;/*remove os  * da lsita */
    margin: 5em 0;/*Afasta os itens da lista da margim*/
}
.dispositivos{/*Pega toda a minha lista e alinha no centro (textos)*/
    text-align: center;
}
.dispositivos{
    font-size: 48px;
    color: var(--branco-principal);
}
.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}
.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em;
}
.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}
.rodape__texto{
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}
.rodape{
    text-align: center;
    margin: 0 3em;
}
.rodape__logo{
    margin-bottom: 2em;
}
.lista__link a:hover{
    color: var(--botao-azul);
}
.lista__link a:active{/*Muda a cor ao clicar no link*/
    color: purple;
}
.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}
